<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<div>
    <h1> Create User </h1>
</div>
<div>
    <form action="/users" method="post">
        <label for="username">User Name:</label><br>
        <input type="text" id="username" name="username" value=""><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password" value=""><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>