<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Users List </title>
</head>

<body>
<div>
    <h1> Users List </h1>
    <div>
        <table>
            <thead>
            <tr>
                <th> Id</th>
                <th> User Name</th>
                <th> Password</th>
                <th> Read</th>
                <th> Update</th>
                <th> Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${users.empty}">
                <td colspan="2"> No Services Available</td>
            </tr>
            <tr th:each="user : ${users}">
                <td><span th:text="${user.id}"> Id </span></td>
                <td><span th:text="${user.username}"> Service Type </span></td>
                <td><span th:password="${user.password}"> Date </span></td>
<!--                <td><a href="#" th:href="@{/services/{id}(id=${service.id})}" >Read </a></td>-->
<!--                <td><a href="#" th:href="@{/services/update/{id}(id=${service.id})}">Update </a></td>-->
<!--                <td><a href="#" th:href="@{/services/delete/{id}(id=${service.id})}" >Delete </a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href="#" th:href="@{/users/create}"> Create </a>
    </div>

</div>
</body>
</html>