<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Read User</title>
</head>
<body>
<div>
    <h1> Read User </h1>
    <div th:replace="fragments/header :: header"></div>
    <div>
        <table>
            <thead>
            <tr>
                <th> Id</th>
                <th> User Name</th>
                <th> Password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${readUser}">
                <td><span th:text="${user.id}"> Id </span></td>
                <td><span th:text="${user.username}"> User Name </span></td>
                <td><span th:text="${user.password}"> Password </span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href="#" th:href="@{/users}"> Users List </a>
    </div>
</div>
</body>
</html>
</div>

</body>
</html>