<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Service</title>
</head>
<body>
<div>
  <h1> Create Service </h1>
</div>
<div>
  <form action="/services" method="post">
    <label for="name">Service Type:</label><br>
    <input type="text" id="name" name="name" value=""><br>
    <label for="date">Date:</label><br>
    <input type="text" id="date" name="date" value=""><br><br>
    <label for="price">Price:</label><br>
    <input type="text" id="price" name="price" value=""><br><br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>