<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> List Service </title>
</head>
<body>
<div>

    <h1> Read Service </h1>

    <div>
        <table>
            <thead>
            <tr>
                <th> Id</th>
                <th> Service Type</th>
                <th> Date</th>
                <th> Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="service : ${readService}">
                <td><span th:text="${service.id}"> Id </span></td>
                <td><span th:text="${service.name}"> Service Type </span></td>
                <td><span th:text="${service.date}"> Date </span></td>
                <td><span th:text="${service.price}"> Price </span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <a href="#" th:href="@{/services}"> Service List </a>
    </div>
</div>
</body>
</html>