<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Car</title>
</head>
<body>
<div>
  <h1> Update Car </h1>
</div>
<div>

  <div>
    <table>
      <thead>
      <tr>
        <th> Id </th>
        <th> Brand </th>
        <th> Color </th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="car : ${readCar}">
        <td><span th:text="${car.id}"> Id </span></td>
        <td><span th:text="${car.brand}"> Brand </span></td>
        <td><span th:text="${car.color}"> Color </span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<form action="/update/update-car" method="post">
  <input type="text" id="{updateBrand}" name="updateBrand" value=""><br>
  <input type="text" id="{updateColor}" name="updateColor" value=""><br><br>
  <a href="#" th:href="@{/cars}" > Update </a>
  </form>
</div>
</body>
</html>