<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update Car</title>
</head>
<body>
<div>
  <h1> Update Car </h1>
</div>
<div>
  <form action="/update" method="put">
    <label for="brand">Car brand:</label><br>
    <input type="text" id="brand" name="brand" value="BMW"><br>
    <label for="color">Car color:</label><br>
    <input type="text" id="color" name="color" value="Black"><br><br>

    <label for="brand">Update Car brand:</label><br>
    <input type="text" id="set brand" name="brand" value="VW"><br>
    <label for="color">Update Car color:</label><br>
    <input type="text" id="set color" name="color" value="White"><br><br>

    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>