<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Car</title>
</head>
<body>
<div>
    <h1> Create Car </h1>
</div>
<div th:replace="fragments/header :: header"></div>
<div>
<form action="/cars" method="post" th:object="${carModel}">
    <label for="brand">Car brand:</label><br>
    <input type="text" id="brand" name="brand" value="BMW"><br>
    <label for="color">Car color:</label><br>
    <input type="text" id="color" name="color" value="Black"><br><br>
    <div>
    <select name="owner.id">
        <option value="">Select User</option>
        <option th:each="user : ${users}"
                th:value="${user.id}"
                th:text="${user.username}"></option>
    </select>
<!--    <a href="#" th:href="@{/users/create}"> Create a User</a>-->
</div>
<input type="submit" value="Submit">
</form>
</div>
</body>
</html>