<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Car</title>
</head>
<body>
<div>
    <h1> Update Car </h1>
</div>
<div th:replace="fragments/header :: header"></div>
<form action="#" th:action="@{/cars/update}" th:object="${car}" method="post">
    <input type="hidden" id="id" name="id" th:value="*{id}"><br>
    <label for="brand">Car brand:</label><br>
<!--    <input type="text" id="brand" name="brand" th:value="${car.brand}"><br>-->
    <input type="text" id="brand" th:field="${car.brand}"><br>
    <label for="color">Car color:</label><br>
    <input type="text" id="color" name="color" th:value="${car.color}"><br>
    <select name="owner.id">
        <option value="">Select User</option>
        <option th:each="user : ${users}"
                th:value="${user.id}"
                th:text="${user.username}"
                th:selected="${user.id == car.owner.id}"></option>
    </select>
    <input type="submit" value="Submit">
</form>
</div>
</body>
</html>